.transactionHistory {
  border-collapse: collapse;
  font-size: 24px;
  background-color: #ffffff;
  margin-bottom: 40px;
  width: 100%;
}
td,
th {
  border: 1px solid #111111;
  width: 100px;
}
tr:nth-child(even) {
  background-color: #bdbebd;
}
td {
  text-transform: capitalize;
  text-align: left;
  padding: 0 120px;
}
th {
  text-align: center;
  background-color: #111111;
  color: white;
  height: 40px;
  padding-left: 0;
}
